spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/phoneshop_night
    username: phoneshop_night
    password: phoneshop123
  jpa:
    hibernate:
      ddl-auto: update
    properties:
        hibernate:
          dialect: org.hibernate.dialect.PostgreSQLDialect
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  liquibase:
        change-log: classpath:db/changelog/db.changelog-master.yaml
        enabled: true
